.divContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* background-image: url("../../assets/imgtrilha.png");
    background-size: cover; */
    background-color: #cce2c9;
    min-height: calc(100vh - 138px);
  }

.container {
    height: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 12px 48px;
}
.container h1 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.registerButton {
    color: #FFFFFF;
    margin-right: 12px;
    background-color: #504908;
    border: 1px solid #000000;
}

.cancelButton {
    border: 2px solid #504908;
    background-color: #cce2c9;
}

.cancelButton a {
    color: #504908;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}