.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #504908;
    border-bottom: 1px solid #e9ecef;
    color: #ffffff;
    height: 60px;
  }
  
  .navigation {
    display: flex;
    gap: 1rem;
  }